.summary-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  text-align: center;
  border: 0.5px solid #ccc;
  padding: 20px;
}

.summary-item {
  margin-bottom: 20px;
}

.summary-label {
  margin-right: 5px;
}

.data-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  text-align: left;
  border: 0.5px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

